@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: rgba(49, 72, 134, 0.196);
    overflow: auto;
    font-family: 'Allerta';
    margin-top: 20vh;
}

.calculator-container {
  inline-size: min(90vw, 340px);
  margin: 0 auto;
  padding: 0.7rem;
  box-sizing: border-box;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 3px 10px #00000071;
}

.result {
  min-height: 2.4rem;
  line-height: 2.4rem;
  background-color: rgb(2, 2, 29);
  padding: 0.4rem;
  border-radius: 10px;
  color: white;
  font-size: 24px;
}

.buttons-container {
  display: grid; grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  max-width: 300px;
  margin-top: 3vh;
}


button {
  color: #000000;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.073);
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: rgba(180, 180, 180, 0.188);
  transform: scale(1.03);
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero {
  background-color: rgba(157, 157, 157, 0.262);
  border: none;
}

.clear {
  color: red;
  grid-row: span 1;
}

.equal-sign {
  background-color: rgb(37, 72, 250);
  color: white;
  grid-column: span 1;
  border: none;
}

.equal-sign:hover {
  background-color: blue;
}

.clear,
.percent-sign,
.plus-sign,
.minus-sign,
.decimal,
.times-sign,
.divide-sign,
.redo-sign {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.181);
}

svg {
  color: red;
  font-size: 24px;
}

.msg {
  text-align: center;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.436);
}